<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Creación de producto"}) %> 
<body class="bodyStyleFormCreateProduct">
    <!-- Header -->
    <%- include('../partials/header') %> 
    <%- include('../partials/resultSearchForm') %> 
    <%- include('../partials/modalOptionHeader') %> 

    <div class="content">

        <!-- Titulo -->
        <h1 class="titleCreateProduct">Registro de productos</h1>
    
        <!-- Formulario de creación -->
        <div class="containerFormCreate">
            <div class="errores"></div>
            <form action="/product/create" method="POST" enctype="multipart/form-data" class="formCreateProduct">
    
                <div class="infogeneralCreate">
                    <h3 class="tittleh3create">Información general</h3>

                    <div class="contentInfoAllCreate">
                        
                        <div class="itemFormCreateProduct">
                            <div>
                                <i class="fas fa-coffee"></i>
                                <input type="text" name="productName" id="name" placeholder="Nombre de producto">
                            </div>
                            <% if (locals.errors && errors.productName) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.productName.msg %></span>
                            <% } %>
                        </div>
            
                        <div class="itemFormCreateProduct">
                            <div>
                                <i class="fas fa-hand-holding-usd"></i>
                                <input type="text" name="productPrice" id="price" placeholder="Precio">
                            </div>
                            <% if (locals.errors && errors.productPrice) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.productName.msg %></span>
                            <% } %>
                        </div>
            
                        <div class="itemFormCreateProduct">
                            <div>
                                <i class="fas fa-tag"></i>
                                <input type="text" name="productDiscount" id="discount" placeholder="Descuento">
                            </div>
                            <% if (locals.errors && errors.productDiscount) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.productDiscount.msg %></span>
                            <% } %>
                        </div>
            
                        <div class="itemFormCreateProduct">
                            <div>
                                <i class="fas fa-layer-group"></i>
                                <input type="text" name="productStock" id="productStock" placeholder="Cantidad disponible">
                            </div>
                            <% if (locals.errors && errors.productStock) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.productStock.msg %></span>
                            <% } %>
                        </div>
            
                        <div class="itemFormCreateProduct">
                            <div>
                                <i class="fas fa-map-marked-alt"></i>
                                <input type="text" name="productOrigin" id="productOrigin" placeholder="Origen del producto">
                            </div>
                            <% if (locals.errors && errors.productOrigin) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.productOrigin.msg %></span>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                <div class="containerFeaturesCreate">
                    <!---Características--->
                    <h3 class="tittleh3create">Caracteristicas</h3>
    
                    <div class="containerElementsFeaturesCreate">
                        
                        <!----Categoria---->
                        <div class="itemFormCreateProduct2">
                            <div class="containerSelectCreate">
                                <i class="fas fa-stream"></i>
                                <select name="category" id="category">
                                    <option selected="true" disabled="disabled" >Categoria...</option>
                                    <% if (locals.errors ) { %>
                                        <option value="<%= old.category %>"></option>
                                    <% }else{%>
                                        <% for( let i = 0; i < category.length; i++ ) { %>
                                            <option value="<%= category[i].id %> "><%= category[i].categoryName %> </option>
                                        <% } %>
                                    <%}%>
                                   
                                </select>
                            </div>
                        </div>
                        
        
                        <!----Sabor---->
                        <div class=" itemFormCreateProduct2 acomodar withModal">
                            <div class="containerSelectCreate">
                                <i class="fas fa-stream"></i>
                                <select  name="taste">
                                    <option selected="true" disabled="disabled" >Sabor ...</option>
                                    <% if (locals.errors ) { %>
                                        <option value=" "></option>
                                    <% }else{%>
                                        <% for( let i = 0; i < tastes.length; i++ ) { %>
                                            <option value="<%= tastes[i].id %>"><%= tastes[i].tasteName %></option>        
                                        <% } %>
                                    <% } %>
                                </select>
                                <%- include('../partials/modalCreateFeatures', {type: 'taste', name_modal: 'Sabor' }) %> 
                            </div>
                        </div>
            
                        <!----Nivel de tostado---->
                        <div class="itemFormCreateProduct2 withModal">
                            <div class="containerSelectCreate">
                                <i class="fas fa-stream"></i>
                                <select  name="toastlevel">
                                    <option selected="true" disabled="disabled" >Nivel de tostado...</option>
                                    <% if (locals.errors ) { %>
                                        <option value=" "></option>
                                    <% }else{%>
                                        <% for( let i = 0; i < toastlevels.length; i++ ) { %>
                                            <option value="<%= toastlevels[i].id %>"><%= toastlevels[i].toastLevelName %></option>        
                                        <% } %>
                                    <% } %>
                                </select>
                                <%- include('../partials/modalCreateFeatures', {type: 'toast-level', name_modal: 'nivel de tostado' }) %>     
                            </div>
                        </div>
        
                        <div class="itemFormCreateProduct2">
                            <div class="containerSelectCreate">
                                <div>
                                    <i class="fas fa-images"></i>
                                    <label for="image">Imagen</label>
                                </div>
                                <input type="file" name="productImage" accept="image/gif, image/png, image/jpg, image/jpeg">
                            </div>
                        </div>
        
                        <div class="descriptionFormCreateProduct">
                            <label for="description">Descripción del producto</label>
                            <div class="containerTextareaCreate">
                                <textarea name="description" id="description" cols="30" rows="10"></textarea>
                                <br>
                                <% if (locals.errors && errors.description) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.description.msg %></span>
                                <% } %>
                            </div>
                        </div>

                        <div class ="errorFrom">
                            <ul></ul>
                        </div>
                    </div>
    
                    <div class="buttonCreate ">
                        <button type="submit">Guardar</button>
                    </div>
                </div>
            </form>    
        </div>
    </div>
    <script src="/Js/createFront.js"></script>
    <script src="/Js/createValidation.js"></script>
</body>
</html>


