<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de producto"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <% console.log(product) %> 
        <section class="productDetail">

            <div class="containerImgDetail">
                <img class="productImage" src="/img/products/<%= product.associateImage.productImageName%> " alt="productImage">
            </div>

            <div class="containerInfoDetail">
                <h2 class="productName"><%=product.productName%></h2>
                <div class="containerInfoMoney">
                    <img class="productPriceSigno" src="/img/pesos.png" alt=""> 

                    <% if (product.productDiscount != 0) { %>
                        <p class="elementDetail"><%= newPrice %> </p>
                        <p class="productPrice "> <%=product.productPrice%> </p>
                    <% } else{ %>
                        <p class="elementDetail"> <%=product.productPrice%> </p>
                    <% } %>
                                        
                    <% if (product.productDiscount != 0) { %>
                        <p class="elementDetail">/</p>
                        <p class="discount"><%= product.productDiscount %> % off</p>
                    <% } %>

                </div>


                <!--<div class="divIconoDetail">
                    <p class="divIconoDetailtittle">Cantidades disponibles</p>
                    <p class="divIconoDetailcontent"> <%# product.stock %> </p>
                </div>-->
                <div>
            
                    <p class="divIconoDetailtittle">Cantidad disponible<P class="hovertext"><%= product.stock %></P></p>
                    
                </div>
                <p>categoria de producto: <%= product.associateCategory.categoryName %> </p>
                <h4 class="tittleDetail">Descripción</h4>
                <p class="productDescription"><%=product.productDescription%> </p>
                <form action="#">
                    <button class="buttonCarDetail"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
                    <button class="buttonLikeProductDetail"><i class="far fa-heart"></i> Mis favoritos </button>
                </form>
            </div> 
        </section>

        <div class="propertiesProduct">

            <h3 class="propertyTittle">Propiedades del producto</h3>
            
            <div class="propertycontent">
                <div class="property lado">
                    <div class="propertyIcon"><img src="/img/fireplace.png" alt=""></div>
                    <h4>Tostado</h4>
                    <p><%=product.associateToastLevelP.toastLevelName%> </p>
                </div>
                
                <div class="property lado">
                    <div class="propertyIcon"><i class="fas fa-map-marker-alt"></i></div>
                    <h4>Origen</h4>
                    <p><%=product.originProduct%> </p>
                </div>
                
                <div class="property">
                    <div class="propertyIcon"><img src="/img/coffe.png" alt=""></div>
                    <h4>Sabor</h4>
                    <p><%=product.associateProduct_taste.tasteName%> </p>
                </div>
            </div>
            
        </div>

        <form action="#" ><button><i class="fas fa-sign-out-alt"></i> Salir</button></form>
        <form action="/product/delete/<%= product.id %>" method="POST" ><button><i class="fas fa-sign-out-alt"></i> Eliminar producto </button></form>
        <form action="/product/edit/<%= product.id %>" method="GET" ><button><i class="fas fa-sign-out-alt"></i> Editar producto </button></form>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>