<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de producto"}) %>
<body class="bodyStyleDeatil">
    <%- include('../partials/header') %>
    <%- include('../partials/resultSearchForm') %>
    <%- include('../partials/modalOptionHeader') %> 
    <main>
        <div class="content">

            <div class="optionsDetail">
                <form >
                    <button>
                        <a href="/product">
                            <i class="fas fa-sign-out-alt"></i> Salir
                        </a>
                    </button>
                </form>
                <form action="/product/delete/<%= product.id %>" method="POST" >
                    <button>
                        <i class="fas fa-sign-out-alt"></i> Eliminar producto 
                    </button>
                </form>
                <form action="/product/edit/<%= product.id %>" method="GET" >
                    <button>
                        <i class="fas fa-sign-out-alt"></i> Editar producto 
                    </button>
                </form>
            </div>
            <section class="productDetail">
                <div class="settingsDetail">
                    <i class="fas fa-tasks"></i>
                </div>
    
                <div class="containerImgDetail">
                    <img class="productImage" src="/img/products/<%= product.associateImage.productImageName%> " alt="productImage">
                </div>
    
                <div class="containerInfoDetail">
                    <h2 class="productName"><%=product.productName%></h2>
                    <div class="containerInfoMoney">
                        <img class="productPriceSigno" src="/img/pesos.png" alt=""> 
    
                        <% if (product.productDiscount != 0) { %>
                            <p class="elementDetail"><%= toThousand(newPrice) %> </p>
                            <p class="productPrice "> <%=toThousand(product.productPrice)%> </p>
                        <% } else{ %>
                            <p class="elementDetail"> <%= toThousand(product.productPrice) %> </p>
                        <% } %>
                                            
                        <% if (product.productDiscount != 0) { %>
                            <p class="elementDetail">/</p>
                            <p class="discount"><%= product.productDiscount %> % off</p>
                        <% } %>
    
                        </div>

                        <div class="divIconoDetail">
                            <p class="divIconoDetailtittle">
                                <i class="fas fa-info-circle" ></i> <strong>Cantidad disponible: </strong>
                                <%= product.stock %>
                            </P>   
                        </div>
    
                        <div class="divIconoDetail">
                            <p class="divIconoDetailtittle">
                                <i class="fas fa-info-circle" ></i> <strong>Categoria de producto: </strong>
                                <%= product.associateCategory.categoryName %>
                            </P>   
                        </div>

                    <h4 class="tittleDetail">Descripción</h4>
                    <p class="productDescription"><%=product.productDescription%> </p>
                    <form class="containerButtonsDetail">
                        <button class="buttonCarDetail agregarCarrito buttonDetail" data-id="<%= product.id %>"><i class="fas fa-shopping-cart"></i> Agregar al carrito</button>
                        <button class="buttonCarDetail"><i class="far fa-heart"></i> Mis favoritos </button>
                    </form>
                </div> 
            </section>
    
            <div class="propertiesProduct">
    
                <h3 class="propertyTittle">Propiedades del producto</h3>
                
                <div class="propertycontent">
                    <div class="property lado">
                        <div class="propertyContentName">
                            <div class="propertyIcon"><img src="/img/fireplace.png" alt=""></div>
                            <h4>Tostado</h4>
                        </div>
                        <p class="infoPropertyDetail"><%=product.associateToastLevelP.toastLevelName%> </p>
                    </div>
                    
                    <div class="property lado">
                        <div class="propertyContentName">
                            <div class="propertyIcon"><i class="fas fa-map-marker-alt"></i></div>
                            <h4>Origen</h4>
                        </div>
                        <p class="infoPropertyDetail"><%=product.originProduct%> </p>
                    </div>
                    
                    <div class="property">
                        <div class="propertyContentName">
                            <div class="propertyIcon"><img src="/img/coffe.png" alt=""></div>
                            <h4>Sabor</h4>
                        </div>
                        <p class="infoPropertyDetail"><%=product.associateProduct_taste.tasteName%> </p>
                    </div>
                </div>
                
            </div>
    
        </div>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %> 
    <script src="/Js/detailFront.js"></script>
</body>

</html>