<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Home"}) %>

<body class="body-style">
    <%- include('../partials/header') %>

    <main class="style-main">
        <img src="/imag/Collage Home.JPG" alt="collage-bienvenida" class="banner">

        <%- include('../partials/suscription') %> 

        <section class="coffee-information-section">
            <h2 class="title-section">Conozcamos más del café</h2>

            <div class="container-coffee-information-section">

                <div class="e-commerce--description">
                    <h4 class="title-e-commerce--description">Quienes somos</h4>
                    <p class="content-e-commerce--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quia. Accusamus mollitia doloribus ducimus autem rem incidunt obcaecati dolore dolor in alias dolores, veritatis dolorem! Est qui aperiam voluptas saepe!</p>
                </div>

                <div class="features-section">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                    <article class="item-features-section features-one">
                        <img src="/imag/Datos curiosos.jpg" alt="" class="imag-features-section" >
                        <div class="information-item-features-section">
                            <h4 class="title-features-section">Datos curiosos del café</h4>
                            <p class="abstract-features-section">Resumen</p>
                            <button class="button-features-section"><a href="">¡Conoce más!</a></button>
                        </div>
                    </article >

                    <article class="item-features-section features-two">
                        <img src="/imag/Beneficios.jpg" alt="" class="imag-features-section">
                        <div class="information-item-features-section">
                            <h4 class="title-features-section">Beneficios del café</h4>
                            <p class="abstract-features-section">Resumen</p>
                            <button class="button-features-section"><a href="">¡Conoce más!</a></button>
                        </div>
                    </article >

                    <article class="item-features-section features-three">
                        <img src="/imag/Receta.jpg" alt="" class="imag-features-section">
                        <div class="information-item-features-section">
                            <h4 class="title-features-section">Receta</h4>
                            <p class="abstract-features-section">Resumen</p>
                            <button class="button-features-section"><a href="">¡Conoce más!</a></button>
                        </div>
                    </article>

                    <i class="fas fa-arrow-alt-circle-right"></i>
                </div>

            </div>
           
                    
                
        </section>

        <section class="best-score-section">
            <h2 class="title-section">Mejores puntuados</h2>

            <div class="container-best-score-section">

                <article class="item-best-score score-one">
                    <img src="/imag/Café Especial Q.coffee Gran Reserva Luxury.webp" alt="" class="imag-best-score">
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5">
                          <label for="radio1"><i class="far fa-star"></i></label>
                          <input id="radio2" type="radio" name="estrellas" value="4">
                          <label for="radio2"><i class="far fa-star"></i></label>
                          <input id="radio3" type="radio" name="estrellas" value="3">
                          <label for="radio3"><i class="far fa-star"></i></label>
                          <input id="radio4" type="radio" name="estrellas" value="2">
                          <label for="radio4"><i class="far fa-star"></i></label>
                          <input id="radio5" type="radio" name="estrellas" value="1">
                          <label for="radio5"><i class="far fa-star"></i></label>
                        </p>
                      </form>
                </article>

                <article class="item-best-score score-two">
                    <img src="/imag/Café Especial Hilo.webp" alt="" class="imag-best-score">
                    <form>
                        <p class="clasificacion">
                          <input id="radio6" type="radio" name="estrellas" value="5">
                          <label for="radio6"><i class="far fa-star"></i></label>
                          <input id="radio7" type="radio" name="estrellas" value="4">
                          <label for="radio7"><i class="far fa-star"></i></label>
                          <input id="radio8" type="radio" name="estrellas" value="3">
                          <label for="radio8"><i class="far fa-star"></i></label>
                          <input id="radio9" type="radio" name="estrellas" value="2">
                          <label for="radio9"><i class="far fa-star"></i></label>
                          <input id="radio10" type="radio" name="estrellas" value="1">
                          <label for="radio10"><i class="far fa-star"></i></label>
                        </p>
                      </form>
                </article>

                <article class="item-best-score score-three">
                    <img src="/imag/Juan Valdez café.jpg" alt="" class="imag-best-score">
                    <form>
                        <p class="clasificacion">
                          <input id="radio11" type="radio" name="estrellas" value="5">
                          <label for="radio11"><i class="far fa-star"></i></label>
                          <input id="radio12" type="radio" name="estrellas" value="4">
                          <label for="radio12"><i class="far fa-star"></i></label>
                          <input id="radio13" type="radio" name="estrellas" value="3">
                          <label for="radio13"><i class="far fa-star"></i></label>
                          <input id="radio14" type="radio" name="estrellas" value="2">
                          <label for="radio14"><i class="far fa-star"></i></label>
                          <input id="radio15" type="radio" name="estrellas" value="1">
                          <label for="radio15"><i class="far fa-star"></i></label>
                        </p>
                      </form>
                </article>

                <article class="item-best-score score-four">
                    <img src="/imag/Cafe Ginerbras.jpg" alt="" class="imag-best-score">
                    <form>
                        <p class="clasificacion">
                          <input id="radio16" type="radio" name="estrellas" value="5">
                          <label for="radio16"><i class="far fa-star"></i></label>
                          <input id="radio17" type="radio" name="estrellas" value="4">
                          <label for="radio17"><i class="far fa-star"></i></label>
                          <input id="radio18" type="radio" name="estrellas" value="3">
                          <label for="radio18"><i class="far fa-star"></i></label>
                          <input id="radio19" type="radio" name="estrellas" value="2">
                          <label for="radio19"><i class="far fa-star"></i></label>
                          <input id="radio20" type="radio" name="estrellas" value="1">
                          <label for="radio20"><i class="far fa-star"></i></label>
                        </p>
                      </form>
                </article>
            </div>
        </section>
<br>

    <%- include('../partials/suscription') %> 
    </main>
<br>
    <%- include('../partials/footer') %>
</body>
</html>