<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "About Us"}) %>
<body class="body-style error">
    <%- include('../partials/header') %>
    <%- include('../partials/resultSearchForm') %>
    <%- include('../partials/modalOptionHeader') %> 

    <div class="content">
        <section class="about-us" id="about-us">
            <h2 class="title-section">¿Qué es el rincón del Café</h2>
            <div class="information-about-us">
                <div class="item-about-us-one">
                    <p>La ventana del café es un e-commerce que nace desde bajo el amplio mercado y basta posibilidad de ofertas que existe con relación al café hoy en día, en esta página web podrás encontrar productos de consumo, belleza y algunos licores, además de souvenirs y recetas claro está con relación a sacarle el mejor provecho a una fruta tan completa como lo es el café.</p>
                </div>
                <div class="item-about-us-two">
                    <p>Realiza tus compras en un ambiente interactivo, donde en todo momento estarás antojándote. Disfruta de la alta calidad de todos los productos que aquí se ofrecen, pues los mismos están cultivados y procesados por manos artesanales del humilde campesino colombiano.</p>
                </div>
            </div>
        </section>

        <section class="about-us" id="about-us">
            <h2 class="title-section">Equipo de trabajo</h2>
            <div class="information-about-us">
                <div class="item-about-us-one">
                    <div class="containerImgAbout">
                        <img src="/img/aboutUs/compañero1.jpeg" alt="Compañero 1">
                    </div>
                    <h3>Gonzalo Pelizza</h3>
                    <p class="descriptTeam">Desarrollador web Full Stack, con objetivos marcados y cumplidos hacia una optima y performante estacia de los usuarios, con relación al correcto funcionamiento de este sitio web en el lado del Back End. </p>
                </div>
                <div class="item-about-us-two">
                    <div class="containerImgAbout">
                        <img src="/img/aboutUs/compañero 2.jpg" alt="Compañero 2">
                    </div>
                    <h3>Juliana Restrepo</h3>
                    <p class="descriptTeam">Desarrolladora web Full Stack, con objetivos marcados y cumplidos hacia una agradable e interactiva estancia de los usuarios, centrado en el correcto funcionamiento de este sitio web en el lado del Front End. </p>
                </div>
            </div>
        </section>

    </div>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %> 
</body>
</html>