<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Home"}) %>

<body class="body-style">
    <%- include('../partials/header') %>
    <%- include('../partials/resultSearchForm') %>
    <%- include('../partials/modalOptionHeader') %> 

    <div class="content">
        <main class="style-main">
            
            <div class="banner">
                <div class="subBanner">
                    <div class="columnOne">
                        <div class="imgBannerOne">
                            <img src="/img/index/img1.jpg" alt="img1">
                        </div>
                        <div class="imgBannerTwo">
                            <img src="/img/index/img2.jpg" alt="img2">
                        </div>
                    </div>
                    <div class="columnTwo">
                        <div class="imgBannerThree">
                            <img src="/img/index/img3.jpg" alt="img3">
                        </div>
                        <div class="imgBannerFour">
                            <img src="/img/index/img4.jpg" alt="img4">
                        </div>
                    </div>
                    <div class="columnThree">
                        <div class="imgBannerFive">
                            <img src="/img/index/img5.jpg" alt="img5">
                        </div>
                        <div class="imgBannerSix">
                            <img src="/img/index/img6.jpeg" alt="img6">
                        </div>
                    </div>
                    <div class="columnFour">
                        <div class="imgBannerSeven">
                            <img src="/img/index/img7.jpg" alt="img7">
                        </div>
                        <div class="imgBannerNine">
                            <img src="/img/index/img9.jpg" alt="img9">
                        </div>
                        <div class="imgBannerEight">
                            <img src="/img/index/img8.jpg" alt="img8">
                        </div>
                    </div>
                    <div class="columnFive">
                        <div class="imgBannerTen">
                            <img src="/img/index/img10.jpg" alt="img10">
                        </div>
                        <div class="imgBannerEleven">
                            <img src="/img/index/img11.jpg" alt="img11">
                        </div>
                    </div>
                    <div class="columnSix">
                        <div class="imgBannerTwelve">
                            <img src="/img/index/img12.png" alt="img12">
                        </div>
                        <div class="imgBannerThirteen">
                            <img src="/img/index/img13.png" alt="img13">
                        </div>
                    </div>
                    <div class="columnSeven">
                        <div class="imgBannerFourteen">
                            <img src="/img/index/img14.jpg" alt="img14">
                        </div>
                        <div class="imgBannerFifteen">
                            <img src="/img/index/img15.JPG" alt="img15">
                        </div>
                    </div>
                </div>
            </div>
            
            <% if (!locals.session) { %>
                <%- include('../partials/suscription') %> 
            <% } %>
            
            
            <section class="coffee-information-section">
                <h2 class="title-section">Conozcamos más del café</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <a href="#">
                            <img class="d-block w-100 carouselIndex" src="/img/Datos curiosos.jpg" alt="First slide">
                            <h4 class="nameCarousel">Datos curiosos...</h4>
                        </a>
                      </div>
                      <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100 carouselIndex" src="/img/Beneficios.jpg" alt="Second slide">
                            <h4 class="nameCarousel">Beneficios del café...</h4>
                        </a>
                      </div>
                      <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100 carouselIndex" src="/img/Receta.jpg" alt="Third slide">
                            <h4 class="nameCarousel">Deliciosas recetas...</h4>
                        </a>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </section>
    
            <section class="about-us" id="about-us">
                <h2 class="title-section">¿Qué es el rincón del Café</h2>
                <div class="information-about-us">
                    <div class="item-about-us-one">
                        <p>La ventana del café es un e-commerce que nace desde bajo el amplio mercado y basta posibilidad de ofertas que existe con relación al café hoy en día, en esta página web podrás encontrar productos de consumo, belleza y algunos licores, además de souvenirs y recetas claro está con relación a sacarle el mejor provecho a una fruta tan completa como lo es el café.</p>
                    </div>
                    <div class="item-about-us-two">
                        <p>Realiza tus compras en un ambiente interactivo, donde en todo momento estarás antojándote. Disfruta de la alta calidad de todos los productos que aquí se ofrecen, pues los mismos están cultivados y procesados por manos artesanales del humilde campesino colombiano.</p>
                    </div>
                </div>
            </section>
    
            <section class="best-score-section">
                <h2 class="title-section">Mejores puntuados</h2>
    
                <div class="container-best-score-section">
    
                    <article class="item-best-score score-one">
                        <img src="/img/products/1670941639119.jpg" alt="" class="imag-best-score">
                        <form>
                            <p class="clasificacion">
                              <input id="radio1" type="radio" name="estrellas" value="5">
                              <label for="radio1"><i class="far fa-star"></i></label>
                              <input id="radio2" type="radio" name="estrellas" value="4">
                              <label for="radio2"><i class="far fa-star"></i></label>
                              <input id="radio3" type="radio" name="estrellas" value="3">
                              <label for="radio3"><i class="far fa-star"></i></label>
                              <input id="radio4" type="radio" name="estrellas" value="2">
                              <label for="radio4"><i class="far fa-star"></i></label>
                              <input id="radio5" type="radio" name="estrellas" value="1">
                              <label for="radio5"><i class="far fa-star"></i></label>
                            </p>
                          </form>
                    </article>
    
                    <article class="item-best-score score-two">
                        <img src="/img/products/1670942342287.jpg" alt="" class="imag-best-score">
                        <form>
                            <p class="clasificacion">
                              <input id="radio6" type="radio" name="estrellas" value="5">
                              <label for="radio6"><i class="far fa-star"></i></label>
                              <input id="radio7" type="radio" name="estrellas" value="4">
                              <label for="radio7"><i class="far fa-star"></i></label>
                              <input id="radio8" type="radio" name="estrellas" value="3">
                              <label for="radio8"><i class="far fa-star"></i></label>
                              <input id="radio9" type="radio" name="estrellas" value="2">
                              <label for="radio9"><i class="far fa-star"></i></label>
                              <input id="radio10" type="radio" name="estrellas" value="1">
                              <label for="radio10"><i class="far fa-star"></i></label>
                            </p>
                          </form>
                    </article>
    
                    <article class="item-best-score score-three">
                        <img src="/img/products/1670943202202.jpg" alt="" class="imag-best-score">
                        <form>
                            <p class="clasificacion">
                              <input id="radio11" type="radio" name="estrellas" value="5">
                              <label for="radio11"><i class="far fa-star"></i></label>
                              <input id="radio12" type="radio" name="estrellas" value="4">
                              <label for="radio12"><i class="far fa-star"></i></label>
                              <input id="radio13" type="radio" name="estrellas" value="3">
                              <label for="radio13"><i class="far fa-star"></i></label>
                              <input id="radio14" type="radio" name="estrellas" value="2">
                              <label for="radio14"><i class="far fa-star"></i></label>
                              <input id="radio15" type="radio" name="estrellas" value="1">
                              <label for="radio15"><i class="far fa-star"></i></label>
                            </p>
                          </form>
                    </article>
    
                    <article class="item-best-score score-four">
                        <img src="/img/products/1670943443877.jpg" alt="" class="imag-best-score">
                        <form>
                            <p class="clasificacion">
                              <input id="radio16" type="radio" name="estrellas" value="5">
                              <label for="radio16"><i class="far fa-star"></i></label>
                              <input id="radio17" type="radio" name="estrellas" value="4">
                              <label for="radio17"><i class="far fa-star"></i></label>
                              <input id="radio18" type="radio" name="estrellas" value="3">
                              <label for="radio18"><i class="far fa-star"></i></label>
                              <input id="radio19" type="radio" name="estrellas" value="2">
                              <label for="radio19"><i class="far fa-star"></i></label>
                              <input id="radio20" type="radio" name="estrellas" value="1">
                              <label for="radio20"><i class="far fa-star"></i></label>
                            </p>
                          </form>
                    </article>
                </div>
            </section>
    <br>
    
        </main>
    </div>

<br>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %> 
</body>
</html>