<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Registro"}) %>
<body class="body-style">
    <%- include('../partials/header') %>
    <%- include('../partials/resultSearchForm') %>
    <%- include('../partials/modalOptionHeader') %> 
    
<main>
    <div class="content">

        <div class="registrarse">
    
            <h1 class="tituloRegister">Edita tu perfil </h1>
    
            <form action="/users/edit/<%= old.id %>" method="POST" enctype ="multipart/form-data">
               
                <div class="containerRegister">
                    <div class="registerPartUno">
                        <div class="containerh2Register"><h2>Datos personales</h2></div>
        
                        <div class="datosPersonalesRegister">
        
                            <div class="itemRegister">
                                <label for="userName">Nombre </label>
                                <input type="text" id="userName" name="userName"  placeholder="Indicame tu nombre"  value="<%= locals.old && old.userName %>">
                                <br>
                                <% if (locals.errors && errors.userName) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.userName.msg %></span>
                                <% } %>
                            </div>
                            
                            <div class="itemRegister">
                                <label for="apellidoRegister">Apellido </label>
                                <input type="text" id="userLastName" name="userLastName"  placeholder="Indicame tu apellido"  value="<%= locals.old && old.userLastName %>">
                                <br>
                                <% if (locals.errors && errors.userLastName) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.userLastName.msg %></span>
                                <% } %>
                            </div>
                            
                            <div class="itemRegister">
                                <label for="userEmail">Email </label>
                                <input type="email" id="userEmail" name="userEmail"  placeholder="Indicame tu email" value="<%= locals.old && old.userEmail %>">
                                <br>
                                <% if (locals.errors && errors.userEmail) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.userEmail.msg %></span>
                                <% } %>
                            </div>
                            
                            <div class="itemRegister">
                                <label for="userAs">Nuevo usuario </label>
                                <input type="text"  id="userAs" name="userAs" placeholder="Create un usuario"  value="<%= locals.old && old.userAs %>">
                                <br>
                                <% if (locals.errors && errors.userAs) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.userAs.msg %></span>
                                <% } %>
                            </div>
        
                            <div class="itemRegister">
                                <label for="userPassword">Contraseña</label>
                                <input type="password" id="userPassword" name="userPassword" placeholder="Crea una contraseña" required>
                                <br>
                                <% if (locals.errors && errors.userPassword) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.userPassword.msg %></span>
                                <% } %>
                            </div>
        
                            <div class="itemRegister">
                                <label for="userPasswordConfirm">Confirma contraseña </label>
                                <input type="password" id="userPasswordConfirm" name="userPasswordConfirm"  placeholder="Confirma tu contraseña" required>
                                <br>
                                <% if (locals.errors && errors.userPasswordConfirm) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.userPasswordConfirm.msg %></span>
                                <% } %>
                            </div>
        
                            <div class="itemRegister">
                                <label for="userAvatar">Perfil</label>
                                <input type="file" id="userAvatar" name="userAvatar"  placeholder="Indicame tu email"  value="<%= locals.old && old.useravatar %>">
                            </div>                        
                        </div>
                        
                    </div>
    
                    <div class="imagenDecoRegister">
                        <img src="/imag/cafeColombiano.jpg" alt="cultivar_cafe">
                    </div>
        
                    <div class="registerPartDos">
                        <div class="containerh2Register"><h2>Datos de entrega</h2></div>
                        
                        <div class="datosDeEntrega">
            
                            <div class="itemRegister">
                                <label for="userAddress">Dirección 1</label>
                                <input type="text" id="userAddress" name="userAddress" placeholder="Indicame tu dirección" required value="<%= locals.old && old.userAddress %>">
                            </div>
    
                        
                            <div class="itemRegister">
                                <label for="telefonoRegister">Telefono / Celular </label>
                                <input type="text" id="telefonoRegister" name="telefonoRegister" placeholder="Indicame tu celular" value = "<%= locals.old && old.userPhone %>">
                                <br>
                                <% if (locals.errors && errors.userPhone) { %>
                                    <span style="color:red;font-size: 1vw;"><%= errors.userPhone.msg %></span>
                                <% } %>
                            </div>
                        </div>
                    </div>
    
                    <div class="imagenDecoRegister">
                        <img src="/imag/cafeColombiano 2.png" alt="cultivar_cafe">
                    </div>
    
                </div>
            
                <div class="containerButtonRegister">
                    <input type="submit" class="buttonRegister" value="Continuar">
                </div>
            </form>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %> 
</body>

</html>