<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Registro"}) %>
<body class="body-style">
    <%- include('../partials/header') %>

<main>
    <div class="registrarse">

        <h1 class="tituloRegister">Edita tu perfil </h1>

        <form action="/users/edit/<%= old.id %>" method="POST" enctype ="multipart/form-data">
           
            <div class="containerRegister">
                <div class="registerPartUno">
                    <div class="containerh2Register"><h2>Datos personales</h2></div>
    
                    <div class="datosPersonalesRegister">
    
                        <div class="itemRegister">
                            <label for="userName">Nombre </label>
                            <input type="text" id="userName" name="userName"  placeholder="Indicame tu nombre"  value="<%= locals.old && old.username %>">
                            <br>
                            <% if (locals.errors && errors.userName) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.userName.msg %></span>
                            <% } %>
                        </div>
                        
                        <div class="itemRegister">
                            <label for="apellidoRegister">Apellido </label>
                            <input type="text" id="userLastName" name="userLastName"  placeholder="Indicame tu apellido"  value="<%= locals.old && old.userlastname %>">
                            <br>
                            <% if (locals.errors && errors.userLastName) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.userLastName.msg %></span>
                            <% } %>
                        </div>
                        
                        <div class="itemRegister">
                            <label for="userEmail">Email </label>
                            <input type="email" id="userEmail" name="userEmail"  placeholder="Indicame tu email" value="<%= locals.old && old.useremail %>">
                            <br>
                            <% if (locals.errors && errors.userEmail) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.userEmail.msg %></span>
                            <% } %>
                        </div>
                        
                        <div class="itemRegister">
                            <label for="userAs">Nuevo usuario </label>
                            <input type="text"  id="userAs" name="userAs" placeholder="Create un usuario"  value="<%= locals.old && old.userAs %>">
                            <br>
                            <% if (locals.errors && errors.userAs) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.userAs.msg %></span>
                            <% } %>
                        </div>
    
                        <div class="itemRegister">
                            <label for="userPassword">Contraseña</label>
                            <input type="password" id="userPassword" name="userPassword" placeholder="Crea una contraseña" required>
                            <br>
                            <% if (locals.errors && errors.userPassword) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.userPassword.msg %></span>
                            <% } %>
                        </div>
    
                        <div class="itemRegister">
                            <label for="userPasswordConfirm">Confirma contraseña </label>
                            <input type="password" id="userPasswordConfirm" name="userPasswordConfirm"  placeholder="Confirma tu contraseña" required>
                            <br>
                            <% if (locals.errors && errors.userPasswordConfirm) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.userPasswordConfirm.msg %></span>
                            <% } %>
                        </div>
    
                        <div class="itemRegister">
                            <label for="userAvatar">Perfil</label>
                            <input type="file" id="userAvatar" name="userAvatar"  placeholder="Indicame tu email"  value="<%= locals.old && old.useravatar %>">
                        </div>                        
                    </div>
                    
                </div>

                <div class="imagenDecoRegister">
                    <img src="/imag/cafeColombiano.jpg" alt="cultivar_cafe">
                </div>
    
                <div class="registerPartDos">
                    <div class="containerh2Register"><h2>Datos de entrega</h2></div>
                    
                    <div class="datosDeEntrega">
        
                        <div class="itemRegister">
                            <label for="userAddress">Dirección 1</label>
                            <input type="text" id="userAddress" name="userAddress" placeholder="Indicame tu dirección" required value="<%= locals.old && old.useraddress %>">
                        </div>
                        <div class="checkboxRegister">
                            <p>¿Que días puede recibir envios?</p>
                            
                            <div class="itemCheckboxRegister">
                                <%  if (old.associateDay_user[0].dataValues.dayname == 'todos los dias') {%>
                                    <input type="checkbox" id="ckeckboxUno" name="ckeckboxUno" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxUno" name="ckeckboxUno">
                                <%}%>
                                <label for="ckeckboxUno">Todos los días</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <% if (old.associateDay_user[0].dataValues.dayname == 'lunes') {%>
                                    <input type="checkbox" id="ckeckboxDos" name="ckeckboxDos" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxDos" name="ckeckboxDos" >
                                <%}%>
                                <label for="ckeckboxDos"> Lunes </label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <% if (old.associateDay_user[0].dataValues.dayname == 'martes') {%>
                                    <input type="checkbox" id="ckeckboxTres" name="ckeckboxTres" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxTres" name="ckeckboxTres">
                                <%}%>
                                <label for="ckeckboxTres">Martes</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <% if (old.associateDay_user[0].dataValues.dayname == 'miercoles') {%>
                                    <input type="checkbox" id="ckeckboxCuatro" name="ckeckboxCuatro" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxCuatro" name="ckeckboxCuatro"> 
                                <%}%>
                                <label for="ckeckboxCuatro">Miercoles</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <% if (old.associateDay_user[0].dataValues.dayname == 'jueves') {%>
                                    <input type="checkbox" id="ckeckboxCinco" name="ckeckboxCinco" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxCinco" name="ckeckboxCinco"> 
                                <%}%>
                                <label for="ckeckboxCinco">Jueves</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <% if (old.associateDay_user[0].dataValues.dayname == 'viernes') {%>
                                    <input type="checkbox" id="ckeckboxSeis" name="ckeckboxSeis" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxSeis" name="ckeckboxSeis"> 
                                <%}%>
                                <label for="ckeckboxSeis">Viernes</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <% if (old.associateDay_user[0].dataValues.dayname == 'sabados') {%>
                                    <input type="checkbox" id="ckeckboxSiete" name="ckeckboxSiete" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxSiete" name="ckeckboxSiete" > 
                                <%}%>
                                <label for="ckeckboxSiete">Sabado</label>
                            </div>
        
                            <div class="itemCheckboxRegister">
                                <% if (old.associateDay_user[0].dataValues.dayname == 'domingo') {%>
                                    <input type="checkbox" id="ckeckboxOcho" name="ckeckboxOcho" value= "On" checked>
                                <%} else {%>
                                    <input type="checkbox" id="ckeckboxOcho" name="ckeckboxOcho"> 
                                <%}%>
                                <label for="ckeckboxOcho">Domingo</label>
                            </div>
                        </div>
                    
                        <div class="itemRegister">
                            <label for="telefonoRegister">Telefono / Celular </label>
                            <input type="text" id="telefonoRegister" name="telefonoRegister" placeholder="Indicame tu celular" value = "<%= locals.old && old.userphone %>">
                            <br>
                            <% if (locals.errors && errors.userPhone) { %>
                                <span style="color:red;font-size: 1vw;"><%= errors.userPhone.msg %></span>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="imagenDecoRegister">
                    <img src="/imag/cafeColombiano 2.png" alt="cultivar_cafe">
                </div>

            </div>
        
            <div class="containerButtonRegister">
                <input type="submit" class="buttonRegister" value="Continuar">
            </div>
        </form>
    </div>
</main>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %> 
</body>

</html>